
input{
  width: 100%;
}
.kg-row{
  margin: 10px 5px;
}
.kg-button{
  min-width: 190px;
}
body{ 
  width: 100vw;
  height: 80vh;
  background: linear-gradient(90deg,rgb(255, 10, 10),white,rgb(177, 34, 34));
}

/* css specificity ke karan problem ho rha tha....woh bootstrap ke chakkar meh mujko direct main.jsx meh dalna pada tha */

/* aur woh bhi niche daalna pda */